{
  "extends": ["next/core-web-vitals", "plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": ["prettier", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "eqeqeq": "warn", // 비교연산자 대신 일치연산자
    "import/first": "warn",
    "no-console": "off", // 콘솔 검사
    "no-duplicate-imports": "warn", // 같은 경로인데 여러번 import
    "no-multi-assign": "warn", // 변수 할당 체이닝 (let a = b = c = 1;)
    "no-unneeded-ternary": "warn", // 불필요한 삼항연산자
    "no-unused-vars": "off", // do not use
    "prefer-const": "warn", // const 선호
    "prettier/prettier": "warn",
    "spaced-comment": "warn", // 주석 공백 시작
    "@next/next/no-img-element": "off", // Image가 아닌 img를 쓰는지 검사
    "@next/next/no-page-custom-font": "warn", // 폰트 cdn이 document파일 외에 있는 지 검사
    "@typescript-eslint/ban-ts-comment": "off", // ts 어노테이션 금지여부
    "@typescript-eslint/ban-types": "off", // 금지 타입 허용
    "@typescript-eslint/explicit-function-return-type": "off", // 함수 리턴 검사
    "@typescript-eslint/explicit-module-boundary-types": "off", // 함수 자료형 검사
    "@typescript-eslint/no-empty-interface": "off", // 빈 인터페이스 검사
    "@typescript-eslint/no-empty-function": "off", // 빈 함수 검사
    "@typescript-eslint/no-explicit-any": "off", // any 타입 검사
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ] // 미사용 변수
  }
}
